.dark {
  background-color: #1f1f1f;
  color: white;
  transition: all 400ms;
}

.dark a,
.dark i,
.dark li {
  color: white;
  transition: color 400ms;
}

.dark a:visited {
  color: white;
}

.dark footer {
  color: white;
}

.light {
  background-color: white;
  color: #1f1f1f;
  transition: all 400ms;
}
.main {
  @apply flex flex-col min-h-screen justify-between;
}

.footer {
  color: #1f1f1f;
  display: flex;
  flex: 1;
  padding: 2rem 0;
  justify-content: center;
  align-items: center;
}

.footer div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
